* {
  padding: 0px;
  margin: 0px;
  box-sizing: 0px;
}
html {
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
}
.quality {
  margin: 4rem 0.5rem;
  text-align: center;
}
.quality-heading h4 {
  color: #1276a0;
  margin: 1rem 3rem;
}
.quality-heading h1 {
  font-size: 2.6rem;
  color: #0d1d4e;
  margin: 1rem 3rem;
  line-height: 3.5rem;
}
.quality-body {
  margin: 1rem 1rem;
}
.service {
  margin-top: 2rem;
  text-align: left;
  display: flex;
  justify-content: space-around;
}
.service i {
  margin: 1rem 0.5rem;
  color: #0579da99;
  font-size: 3rem;
}
.service-content {
  margin-left: 1rem;
}
.service-content h3 {
  color: #0d1d4e;
  margin: 0.5rem 1.5rem;
}
.service-content p {
  font-size: 2rem;
  margin: 0.5rem 1.3rem;
  line-height: 1.5rem;
}
.clients {
  margin-top: 2rem;
  text-align: left;
  display: flex;
  justify-content: space-around;
}
.clients i {
  margin: 1rem 0.5rem;
  color: #0579da99;
  font-size: 3rem;
}
.clients-content {
  margin-left: 1rem;
}
.clients-content h3 {
  color: #0d1d4e;
  margin: 0.5rem 1.5rem;
}
.clients-content p {
  font-size: 0.8rem;
  margin: 0.5rem 1.3rem;
  line-height: 1.5rem;
}
.maintenance {
  margin-top: 2rem;
  text-align: left;
  display: flex;
  justify-content: space-around;
}
.maintenance i {
  margin: 1rem 0.5rem;
  color: #0579da99;
  font-size: 3rem;
}
.maintenance-content {
  margin-left: 1rem;
}
.maintenance h3 {
  color: #0d1d4e;
  margin: 0.5rem 1.5rem;
}
.maintenance p {
  font-size: 0.8rem;
  margin: 0.5rem 1.5rem;
  line-height: 1.5rem;
}

.management {
  margin-top: 2rem;
  text-align: left;
  display: flex;
  justify-content: space-around;
}
.management i {
  margin: 1rem 0.5rem;
  color: #0579da99;
  font-size: 3rem;
}
.management-content {
  margin-left: 1rem;
}
.management h3 {
  color: #0d1d4e;
  margin: 0.5rem 1.5rem;
}
.management p {
  font-size: 0.8rem;
  margin: 0.5rem 1.3rem;
  line-height: 1.5rem;
}

.satisfaction {
  margin-top: 2rem;
  text-align: left;
  display: flex;
  justify-content: space-around;
}
.satisfaction i {
  margin: 1rem 0.5rem;
  color: #0579da99;
  font-size: 3rem;
}
.satisfaction-content {
  margin-left: 1rem;
}
.satisfaction h3 {
  color: #0d1d4e;
  margin: 0.5rem 1.5rem;
}
.satisfaction p {
  font-size: 0.8rem;
  margin: 0.5rem 1.3rem;
  line-height: 1.5rem;
}

.service {
  margin-top: 2rem;
  text-align: left;
  display: flex;
  justify-content: space-around;
}
.service i {
  margin: 1rem 0.5rem;
  color: #0579da99;
  font-size: 3rem;
}
.service-content {
  margin-left: 1rem;
}
.service h3 {
  color: #0d1d4e;
  margin: 0.5rem 1.5rem;
}
.service p {
  font-size: 0.8rem;
  margin: 0.5rem 1.3rem;
  line-height: 1.5rem;
}
/* latest-projects */
.latest-projects {
  padding: 2rem 1rem;
  background-color: rgb(244, 245, 248);
}
.project-heading {
  text-align: center;
}
.project-heading h3 {
  margin-top: 1.5rem;
  font-size: 1rem;
  color: #0579da99;
}
.project-heading h1 {
  color: #0d1d4e;
  font-size: 3rem;
}
.project-images img {
  width: 95%;
  margin-top: 3rem;
  transition-duration: 0.25s;
}
.project-images img:hover {
  width: 100%;
}
.project-images h2 {
  color: white;
  margin-top: -4rem;
  margin-left: 2rem;
  transition-duration: 0.25s;
}
.project-images h2:hover {
  font-size: 2rem;
}
.project-images p {
  color: white;
  margin-left: 2rem;
  margin-top: 0.3rem;
  transition-duration: 0.25s;
}
.project-images p:hover {
  font-size: 1.2rem;
}

/* Our Company */
.our-company {
  margin: 5rem 1rem;
}
